.custom-modal-footer {
    background: hsl(0, 0%, 95%) !important;
    border: none !important
}

.custom-background {
    background:  hsl(0, 0%, 95%) !important;
    border: none !important
}

.no-border {
    border: none !important
}

.custom-modal-header {
    background: hsl(0, 0%, 95%) !important;
    border: none !important
}

.margin-right-1 {
    margin-right: 1em;
}

.margin-left-1 {
    margin-left: 1em;
}

.mylabel {
    vertical-align: -webkit-baseline-middle !important;
    /*align-items: inherit !important;*/
}

.button.has-text-left {
    justify-content: flex-start !important;
}

.margin-all-05 {
    margin: 0.5em 0.5em 0.5em 0.5em !important;
}

.margin-all-1 {
    margin: 1em 1em 1em 1em !important;
}

.no-margin-top {
    margin-top: 0em !important;
}

.margin-top-1 {
    margin-top: 1em !important;
}

.margin-bottom-1 {
    margin-bottom: 1em !important;
}

.margin-bottom-05 {
    margin-bottom: 0.5em !important; 
}

.margin-right-05 {
    margin-right: 0.5em !important; 
}

.margin-left-05 {
    margin-left: 0.5em !important; 
}

.margin-top-05 {
    margin-top: 0.5em !important; 
}

.margin-bottom-05 {
    margin-bottom: 0.5em !important; 
}

/*Change Placeholder Text color in input fields for all browsers (this is resolved in browser, not the css framework!)*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777777 !important;
    opacity: 1 !important; /* Firefox */
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#777777 !important;
  }

.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    
 }
 .card-equal-height .card-footer {
    margin-top: auto;
 }

 .pointer-changed {
    cursor: pointer;
 }

 .scrollbox {
    flex-basis: 80%;
    height: 80vh; 
    overflow-y: auto;
    overflow-x: hidden;
  }